title: IPA-Lab
description: >-
  Welcome to the IPA-Lab website.
baseurl: ""
url: "https://ipa-lab.github.io"

# Build settings
plugins:
  - jekyll-feed

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/


defaults:
  - scope:
      path: ""
    values:
      layout: default


collections:
  pages:
    output: true
    permalink: /:name/