@import url(//fonts.googleapis.com/css?family=Lato:300,700);

body {
  font-family: Open Sans, sans-serif;
  /* text-align: justify;     */
  font-size: 11pt;
  color: #3a3a3b;
  /* background-color: #dedede; */
  background-color: #ebecee;
}

p {
  margin-top: 0px;
  line-height: 130%;
}

img {
    border-style: none;
}

.page {
  margin-left: auto;
  margin-right: auto;
  width: 800px;  
}

.page_content {
  background-color: #ffffff;
  margin-top: 75px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
    list-style-type: none;
    /* margin: 0; */
    padding-left: 15px;    
}

li {
  margin-bottom: 7px;
}

/* Links */

a:link {
  color:  #50416d;
}

a:visited {
  color: #727273;
}

/* Nav bar */

#nav_bar_wrapper {
    background-color: #DFE4E4;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 70px;
}
#nav_bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: table;
    background-color: #006699;
    color: #ffffff;
    width: 800px;
    height: 44px;
    text-align: center;
}
#nav_bar ul{
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#nav_bar li{
    display: inline;
    list-style-type: none;
    padding: 15px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18pt;            
}
#nav_bar a:link {
    color: #ffffff;
    text-decoration: none;
}
#nav_bar a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* Headers */


h1 {
  font-family: 'Lato';
  font-size: 28pt;
  font-weight: 300;  
  color: #006699;
  margin-top: 0px;
  margin-bottom: 5px;
}

h2 {
  font-family: 'Lato';
  font-size: 20pt;
  font-weight: 300;  
  color: #006699;
}

h3 {
  margin-bottom: 5px;
}

h4 {
  margin-bottom: 0px;
}

/* Contact information */

.portrait {
    float: left;  
}

.portrait img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 200px;
}

.contact {
  margin-left: 30px;
  text-align: left;
  float: left;
}

#contacts {
  overflow: auto;
  margin-bottom: 20px;
}

/* Research project pages */

.project_logo {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.project_logo img {
   display: block;
}

/* Tables */

td {
    padding-left: 15px;
    padding-right: 15px;
}

/* Utility */

div.anchor {
    position: relative;
    top: -70px;
}                

.clear {
    clear: both;
}


.float_right {
    float: right;
}

.float_left {
    float: left;
}

.centered {
  text-align: center;
}

/* Credits */
.credit {
  width: 100%;
  text-align: right;
}
